/* OSU logo styling */
.osu-logo img {
  width: 90%; /* Adjust as needed */
  height: auto;
  padding-right: 10px; /* Space between logo and text */
}

footer a {
  text-decoration: none;
  color: #000;
}

#Resume img {
  width: 20%;
  height: auto;
}

nav {
  float: left;
}
nav ul {
  list-style: none;
}

nav li a {
  color: #000;
  text-decoration: none;
}

main {
  float: inline-end;
}
